{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: matrix
  @author:   sam
  ====================================================== #}
{#
  Matrix field; body
#}

{# {% import "_partials/_macros.twig" as macro %} #}

{# Check if body variable is given #}
{% set body = body is defined and body | length ? body : '' %}

{# If no body variable is given, check if body field exists #}
{% if not body | length %}
  {% set body = entry['body'] is defined and entry.body | length ? entry.body : '' %}
{% endif %}

{% if body | length %}
  {% cache %}
    <article>
      {% for block in entry.body.all() %}
        {% switch block.type %}

        {% case 'intro' %}
          {% if block.text | length %}
            <div class="mb-2 mb-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    {% include '_partials/_components/intro/intro.twig' with {
                      text: block.text
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'text' %}
          {% if block.text | length %}
            <div class="mb-2 mb-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    {% include '_partials/_components/text/text.twig' with {
                      text: block.text
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'image' %}
          {% if block.image | length %}
            <div class="mb-4 mb-lg-6">
              {% if block.format == 'full' %}
                <div class="w-100">
                  {% include '_partials/_components/image/image.twig' with {
                    image: block.image[0],
                    format: block.format
                  } %}
                </div>
              {% else %}
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {% include '_partials/_components/image/image.twig' with {
                        image: block.image[0],
                        format: block.format
                      } %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}

        {% case 'imageText' or 'textImage' %}
          <div class="mb-4 mb-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/side-by-side/side-by-side.twig' with {
                    text: block.text,
                    image: block.image | length ? block.image[0] : '',
                    cta1: block.cta1 | length ? block.cta1 : '',
                    cta1Micro: block.cta1Micro | length ? block.cta1Micro : '',
                    cta2: block.cta2 | length ? block.cta2 : '',
                    cta2Micro: block.cta2Micro | length ? block.cta2Micro : '',
                    order: block.type
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'ctaBanner' %}
          <div class="mb-4 mb-lg-6">
            {% if block.image | length %}
              {% include '_partials/_components/cta-banner/cta-banner.twig' with {
                title: block.heading,
                image: block.image.one(),
                cta1: block.cta1 | length ? block.cta1 : '',
                cta1Primary: block.cta1Primary,
                cta2: block.cta2 | length ? block.cta2 : '',
                cta2Primary: block.cta2Primary,
              } %}
            {% endif %}
          </div>

        {% case 'ctaBlocks' %}
          <div class="mb-4 mb-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/cta-blocks/cta-blocks.twig' with {
                    intro: block.text,
                    blocks: block.blocks
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'faq' %}
          {% if block.questions | length %}
            <div class="mb-4 mb-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    {% include '_partials/_components/faq/faq.twig' with {
                      text: block.text,
                      questions: block.questions,
                      cta: block.cta
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'slider' %}
          <div class="mb-4 mb-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/slider/slider.twig' with {
                    text: block.text,
                    images: block.images
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'typeform' %}
          <div class="mb-4 mb-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                  {% include '_partials/_components/typeform/typeform.twig' with {
                    text: block.text,
                    url: block.typeform.url,
                    label: block.typeform.text
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'table' %}
          <div class="mb-4 mb-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/table/table.twig' with {
                    intro: block.text,
                    table: block.table,
                    columnTitle: block.columnTitle
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'prices' %}
          {% if block.showPrices and prices.pricesTickets | length %}
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="mb-4 mb-lg-6">
                    {% include '_partials/_components/prices/prices.twig' with {
                      intro: block.text
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'openingHours' %}
          {% if block.text | length or block.openingHours %}
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="mb-4 mb-lg-8">
                    {% include '_partials/_components/opening-hours/opening-hours.twig' with {
                      text: block.text,
                      default: true,
                      holiday: true,
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'services' %}
          {% if block.showServices %}
            <div class="mb-4 mb-lg-8">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    {% include '_partials/_components/services/services.twig' with {
                      intro: block.text,
                      cta: block.cta,
                    } %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        {% case 'partners' %}
          <div
            class="mb-4 mb-lg-8{{ body[(loop.index0) - 1] and body[(loop.index0) - 1].type == 'partners' ? ' -mt-2 -mt-lg-6' : '' }}">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/partners/partners.twig' with {
                    intro: block.text,
                    partners: block.partners,
                    showAll: block.partnersShowAll
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'headsUp' %}
          <div class="mb-4 mb-lg-8">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/heads-up/heads-up.twig' with {
                    text: block.headsUp
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'team' %}
          <div class="mb-4 mb-lg-8">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% include '_partials/_components/team/team.twig' with {
                    intro: block.text,
                    members: block.team
                  } %}
                </div>
              </div>
            </div>
          </div>

        {% case 'ctas' %}
          <div class="-mt-2 mb-4 -mt-lg-5 mb-lg-8">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {% if block.cta1.url | length %}
                  {% include '_partials/_components/ctas/ctas.twig' with {
                    cta1: block.cta1,
                    cta1Micro: block.cta1Micro,
                    cta1Primary: block.cta1Primair,
                    cta2: block.cta2,
                    cta2Micro: block.cta2Micro,
                    cta2Primary: block.cta2Primair
                  } %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endswitch %}
      {% endfor %}
    </article>
  {% endcache %}
{% endif %}
