<div class="swiper swiper-overflow">
    <div class="container">
        <div class="swiper-container row" id="slider-customers-8">
            <div class="swiper-wrapper">
                <div class="swiper-slide col-11 col-md-5 col-lg-4 py-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="mb-4">“All base UI elements are made using Nested Symbols and shared styles that
                                are logically connected. Gorgeous, high-quality video sharing on desktop, mobile,
                                tablet. All base UI elements are made using Nested Symbols”</p>
                            <img alt="" class="rounded mb-2" src="https://fakeimg.pl/180x180/" width="60" height="60"/>
                            <div class="d-flex justify-content-between align-items-end">
                                <div>
                                    <p class="mb-0">
                                        <span class="weight-500">Name Surname</span>
                                    </p>
                                    <p class="small mb-0">Founder, Acme Company</p>
                                </div>
                                <div>
                                    <a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="20"/>
                                    </a>
                                    <a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/twitter.svg" width="20"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide col-11 col-md-5 col-lg-4 py-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="mb-4">“All base UI elements are made using Nested Symbols and shared styles that
                                are logically connected. Gorgeous, high-quality video sharing on desktop, mobile,
                                tablet. All base UI elements are made using Nested Symbols”</p>
                            <img alt="" class="rounded mb-2" src="https://fakeimg.pl/180x180/" width="60" height="60"/>
                            <div class="d-flex justify-content-between align-items-end">
                                <div>
                                    <p class="mb-0">
                                        <span class="weight-500">Name Surname</span>
                                    </p>
                                    <p class="small mb-0">Founder, Acme Company</p>
                                </div>
                                <div><a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="20"/>
                                    </a>
                                    <a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/twitter.svg" width="20"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide col-11 col-md-5 col-lg-4 py-5">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="mb-4">“All base UI elements are made using Nested Symbols and shared styles that
                                are logically connected. Gorgeous, high-quality video sharing on desktop, mobile,
                                tablet. All base UI elements are made using Nested Symbols”</p>
                            <img alt="" class="rounded mb-2" src="https://fakeimg.pl/180x180/" width="60" height="60"/>
                            <div class="d-flex justify-content-between align-items-end">
                                <div>
                                    <p class="mb-0">
                                        <span class="weight-500">Name Surname</span>
                                    </p>
                                    <p class="small mb-0">Founder, Acme Company</p>
                                </div>
                                <div>
                                    <a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="20"/>
                                    </a>
                                    <a title="" class="transparent-invert-link ml-2" href="#">
                                        <img alt="" src="/assets/images/bitmap/glyphs/twitter.svg" width="20"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
