<div class="row justify-content-center text-center py-5">
    <div class="col-12 col-md-8 col-lg-6">
        <h1 class="mb-4">Long headline to turn your visitors into users</h1>
        <div>
            <span>Share:</span>
            <a title="" class="transparent-invert-link ml-3" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="20"/>
            </a>
            <a title="" class="transparent-invert-link ml-3" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/twitter.svg" width="20"/>
            </a>
            <a title="" class="transparent-invert-link ml-3" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/link.svg" width="20"/>
            </a>
        </div>
    </div>
</div>
