{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: side-by-side
  @author:   sam
  ====================================================== #}

{% set image = image is defined ? image : '' %}
{% set text = text is defined ? text : '' %}
{% set cta1 = cta1 is defined ? cta1 : '' %}
{% set cta1Micro = cta1Micro is defined ? cta1Micro : '' %}
{% set cta2 = cta2 is defined ? cta2 : '' %}
{% set cta2Micro = cta2Micro is defined ? cta2Micro : '' %}
{% set order = order is defined ? order : 'textImage' %}

{% if image | length and text | length %}
  <div class="c-side-by-side">
    <div class="c-side-by-side__block">
      {% if order == 'textImage' %}
        {% include "_partials/_components/side-by-side/text.twig" with {
          text: text,
          cta1: cta1,
          cta1Micro: cta1Micro,
          cta2: cta2,
          cta2Micro: cta2Micro
        } %}
      {% else %}
        {% include "_partials/_components/side-by-side/image.twig" with {
          image: image
        } %}
      {% endif %}
    </div>
    <div class="c-side-by-side__block">
      {% if order == 'imageText' %}
        {% include "_partials/_components/side-by-side/text.twig" with {
          text: text,
          cta1: cta1,
          cta1Micro: cta1Micro,
          cta2: cta2,
          cta2Micro: cta2Micro
        } %}
      {% else %}
        {% include "_partials/_components/side-by-side/image.twig" with {
          image: image
        } %}
      {% endif %}
    </div>
  </div>
{% endif %}


