<div class="border-top d-lg-none"></div>
<div class="d-lg-flex justify-content-between py-3">
  <div class="small">
    <span class="d-block d-lg-inline text-muted mb-2 mb-lg-0 mr-lg-5">&copy; 2019 Emotion. All right reserved.</span>
    <a title="" class="d-block d-lg-inline text-muted mb-2 mb-lg-0 mr-lg-5" href="#">
      <span>Privacy Policy</span>
    </a>
    <a title=""  class="d-block d-lg-inline text-muted mb-2 mb-lg-0 mr-lg-5" href="#">
      <span>Terms of Service</span>
    </a>
  </div>
  <div class="small">
    <span class="text-muted">Made in Saint Petersburg</span>
  </div>
</div>
