<div class="border-top d-lg-none"></div>
<div class="text-center py-4 py-lg-5">
  <a title="" class="transparent-invert-link mx-2" href="#">
    <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="32"/>
  </a>
  <a title="" class="transparent-invert-link mx-2" href="#">
    <img alt="" src="/assets/images/bitmap/glyphs/instagram.svg" width="32"/>
  </a>
  <a title="" class="transparent-invert-link mx-2" href="#">
    <img alt="" src="/assets/images/bitmap/glyphs/twitter.svg" width="32"/>
  </a>
  <a title="" class="transparent-invert-link mx-2" href="#">
    <img alt="" src="/assets/images/bitmap/glyphs/linkedin.svg" width="32"/>
  </a>
  <a title="" class="transparent-invert-link mx-2" href="#">
    <img alt="" src="/assets/images/bitmap/glyphs/pinterest.svg" width="32"/>
  </a>
</div>
<div class="pt-lg-4 pb-4 pb-lg-3 text-center small">
  <p class="mb-0">
    <a title="" class="d-block d-lg-inline text-muted mx-lg-1 mb-2 mb-lg-0" href="#">
      <span>Privacy Policy</span>
    </a>
    <a title="" class="d-block d-lg-inline text-muted mx-lg-1 mb-2 mb-lg-0" href="#">
      <span>Terms of Service</span>
    </a>
    <a title="" class="d-block d-lg-inline text-muted mx-lg-1 mb-2 mb-lg-0" href="#">
      <span>Legal</span>
    </a>
    <a title="" class="d-block d-lg-inline text-muted mx-lg-1 mb-2 mb-lg-0" href="#">
      <span>Site Map</span>
    </a>
  </p>
  <p class="text-muted mb-0">&copy; 2019 Emotion. All right reserved.</p>
</div>
