<div class="row py-4">
    <div class="col-12 col-lg-2 mb-4 mb-lg-0"><img alt="" src="/assets/images/bitmap/glyphs/emotion.svg" width="62"/></div>
    <div class="col-6 col-lg-2 mb-4 mb-lg-0">
        <h4>First column</h4>
        <div class="small">
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>First page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Second page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Third</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Fourth</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-2 mb-4 mb-lg-0">
        <h4>Second</h4>
        <div class="small">
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Fifth page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Sixth page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Eighth</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-2 mb-4 mb-lg-0">
        <h4>Third</h4>
        <div class="small">
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>First page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Second page</span>
                </a>
            </div>
            <div class="mb-1">
                <a title="" class="text-dark" href="#">
                    <span>Third</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="border-top pt-4 d-lg-none"></div>
        <h4>Subscribe</h4>
        <div class="form-group input-group input-group-lg">
            <input class="form-control form-control-lg" type="text" placeholder="Enter your email address"/>
            <div class="input-group-control">
                <a title="" class="transparent-invert-link" href="#">
                    <img alt="" src="/assets/images/bitmap/glyphs/plane.svg" width="24"/>
                </a>
            </div>
        </div>
        <p class="small text-muted mb-0">Join our newsletter to stay up to date on features and releases</p>
    </div>
</div>
