<div class="d-lg-flex justify-content-between py-3 py-lg-2">
    <div class="small mb-2 mb-lg-0">
        <span class="text-muted mr-5">&copy; 2019 Emotion. All right reserved.</span>
    </div>
    <div class="d-flex small align-items-end justify-content-between">
        <div>
            <a title="" class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href="#">
                <span>Privacy Policy</span>
            </a>
            <a title="" class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href="#">
                <span>Terms of Service</span>
            </a>
            <a title="" class="d-block d-lg-inline text-muted ml-lg-3 mb-2 mb-lg-0" href="#">
                <span>Legal</span>
            </a>
            <a title="" class="d-block d-lg-inline text-muted ml-lg-3" href="#">
                <span>Site map</span>
            </a>
        </div>
        <div class="d-none d-lg-block ml-3">
            <a title="" class="transparent-link" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/instagram.svg" width="16"/>
            </a>
            <a title="" class="transparent-link ml-2" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="16"/>
            </a>
        </div>
        <div class="d-lg-none">
            <a title="" class="transparent-link" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/instagram.svg" width="24"/>
            </a>
            <a title="" class="transparent-link ml-2" href="#">
                <img alt="" src="/assets/images/bitmap/glyphs/facebook.svg" width="24"/>
            </a>
        </div>
    </div>
</div>
