<div class="row no-gutters px-4 pt-4 pb-0" style="margin-right: -1px">
    <div class="col-12 col-md-6" style="padding: 0 1px 1px 0">
        <img alt="" class="w-100" src="https://fakeimg.pl/555x540"/>
    </div>
    <div class="col-12 col-md-6" style="padding: 0 1px 1px 0">
        <img alt="" class="w-100" src="https://fakeimg.pl/555x540"/>
    </div>
</div>
