<div class="row py-4">
    <div class="col-12 col-md-3 gallery-item mb-md-0">
        <img alt="" class="w-100" src="https://fakeimg.pl/540x540/"/>
    </div>
    <div class="col-12 col-md-3 gallery-item mb-md-0">
        <img alt="" class="w-100" src="https://fakeimg.pl/540x540/"/>
    </div>
    <div class="col-12 col-md-3 gallery-item mb-md-0">
        <img alt="" class="w-100" src="https://fakeimg.pl/540x540/"/>
    </div>
    <div class="col-12 col-md-3 gallery-item mb-0">
        <img alt="" class="w-100" src="https://fakeimg.pl/540x540/"/>
    </div>
</div>
