<div class="swiper swiper-overflow py-5">
    <div class="container position-relative">
        <div class="swiper-container row" id="slider-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="col-12">
                        <div class="images-ratio ratio-2-1" style="background-image: url(https://fakeimg.pl/1110x540)"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-12">
                        <div class="images-ratio ratio-2-1" style="background-image: url(https://fakeimg.pl/1110x540)"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-12">
                        <div class="images-ratio ratio-2-1" style="background-image: url(https://fakeimg.pl/1110x540)"></div>
                    </div>
                </div>
            </div>
        </div>
        <a title="" class="carousel-control-prev carousel-control-outside" id="slider-gallery-prev" href="#">
            <div class="carousel-control-prev-icon"></div>
        </a><a title="" class="carousel-control-next carousel-control-outside" id="slider-gallery-next" href="#">
            <div class="carousel-control-next-icon"></div>
        </a>
    </div>
</div>
