{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: quote
  @author:   sam
  ====================================================== #}
{% import "_partials/_macros.twig" as macro %}

{% set quote = quote is defined ? quote : '' %}
{% set author = author is defined ? author : '' %}

{% if quote | length %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <div class="c-quote">
          <div>"</div>
          <div class="c-quote__wrapper">
            <div class="c-quote__text">
              {{ macro.renderRichText(quote ~ '<span>"</span>', '') }}
            </div>
            {% if author | length %}
              <div class="c-quote__author">
                {{ author }}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endif %}
