{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: 503
  @date:     288 Oct 2019
  ====================================================== #}
{#
  Template file for 503 service unavailable
#}

{# {% import "_partials/_macros.twig" as macro %} #}
{# uncomment line above if you need to use macros in your template #}
{% set entry = craft.entries.section("serviceUnavailable").limit(1).one() %}

{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("503_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}

  <div class="container d-flex justify-content-center">
    <div class="col-12 col-lg-10 py-10">
      <h1>Wij zijn offline</h1>
      <p>Momenteel is onze website niet bereikbaar. Probeer het later opnieuw</p>
    </div>
  </div>

{% endblock %}

{% block _inline_js %}
{% endblock %}
