{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: index
  @date:     288 Oct 2019
  ====================================================== #}
{#
  Template file for the homepage
#}

{# {% import "_partials/_macros.twig" as macro %} #}
{# uncomment line above if you need to use macros in your template #}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
  {% include '_partials/_global/header' with {
    image: entry.headerImage.one(),
    wave: true,
    payoff: true
  } %}
  <div class="bg-teal pt-2 pt-lg-4">
    <div class="container">
      <div class="d-flex flex-column justify-content-center w-100 w-sm-auto flex-sm-grow-0 flex-sm-row mb-4">
        <div class="bg-teal-500 rounded-sm d-flex flex-column align-items-center px-2 px-md-4 py-3 px-lg-5">
          <div class="w-14 d-lg-flex flex-lg-row w-lg-auto">
            <div class="d-flex flex-row align-items-center mb-1 mr-lg-2 mb-lg-0">
              <svg class="mr-2" width="35" height="35">
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-calendar"></use>
              </svg>
              <span class="text-white weight-700">Opent najaar 2020</span>
            </div>
            <div class="d-flex flex-row align-items-center ml-lg-2">
              <svg class="mr-2" width="35" height="35">
                <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-marker"></use>
              </svg>
              <span class="text-white weight-700">Gruttostraat 3, Velp</span>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 d-flex flex-row justify-content-center">
        <p class="text-center text-white mb-0 pb-4 col-lg-10">
          Water is een bron van energie. Beweeg lekker in ons bad, voel je vrij en laad je weer helemaal op. Het geeft
          power aan lichaam en geest. Dus kom leren zwemmen, revalideren, fit worden, ontspannen of spieren
          trainen. Binnenkort in het Biljoenbad!
        </p>
      </div>
    </div>
  </div>

  <div class="wave bg-teal-100 pb-4 pb-lg-8">
    {% include '_inline/_svg/lower-wave' with {
      class: 'lower-wave'
    } %}
  </div>
  <div class="bg-teal-100 pb-4 pb-lg-8" id="activiteiten">
    {% include '_partials/_index/activities' %}
  </div>
  <div class="container mt-5 mt-lg-10" id="sfeerimpressie">
    {% include '_partials/_index/impression' %}
  </div>
  <div class="bg-teal-100 pt-5 pb-5 pt-lg-8">
    <div class="container" id="locatie">
      {% include '_partials/_index/location' %}
    </div>
  </div>
  <div class="container pt-5 pb-2 pb-lg-3 pt-lg-8" id="veelgestelde-vragen">
    {% include '_partials/_index/faq' %}
  </div>
  <div class="pt-2 pt-lg-4 position-relative" id="contact">
    <div class="container d-flex justify-content-center">
      <div class="wave wave-upper">
        {% include '_inline/_svg/upper-wave' with {
          class: 'upper-wave'
        } %}
        <div class="h-6 w-100 bg-teal h-lg-auto">
        </div>
      </div>
      <div
        class="bg-teal-600 col-lg-10 px-3 pt-4 pb-5 rounded position-relative z-30 d-lg-flex flex-lg-row justify-content-lg-center">
        <div class="d-flex flex-column w-100">
          <p class="mb-4 weight-700 text-white text-center large px-md-4 px-lg-0">
            Er zijn diverse mogelijkheden tot samenwerking met het Biljoenbad. Zo kan je gebruikmaken van de praktijkruimten en de diverse baden. Vraag ons gerust naar de opties.
          </p>
          <div class="d-flex flex-column flex-md-row justify-content-md-center">
            <div class="d-flex flex-column justify-content-center align-items-center mb-4 mr-md-10 mb-md-0 mr-lg-8">
              <p class="text-white large">
                  Bel om samen te werken
              </p>
              <div class="d-flex flex-row">
                <svg class="mr-2" width="25" height="25">
                  <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-telefoon"></use>
                </svg>
                <a class="text-yellow weight-700 large hover-underline" href="tel:0264976556"
                   rel="external">026 - 497 65 56</a>
              </div>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <p class="text-white large">of heb je een andere vraag?</p>
              <a class="c-btn c-btn-yellow" href="mailto:biljoenbad@rheden.nl" title="Stuur een mail">
                Stuur een mail
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block _inline_js %}
{% endblock %}
