/* ==========================================================================
   # Name: _c-sidebar
   # Date: 11 aug. 2020
   # Author: sam
   ========================================================================== */

/**
 * Add a small description here about the code in this file.
 * Use *[1]* and so on if need telling with small pieces of css do.
 * See elements.headings.scss as an Example
 *
 */

.c-activity {

  &__sidebar {
    @extend .col-lg-3;
    display: none;

    @include media-breakpoint-up('lg') {
      display: flex;
      flex-direction: column;
    }
  }

  &__category {
    @extend .rounded;
    background-color: $teal-100;
    width: 100%;
    flex-grow: 0;

    ul {
      list-style: none;
      padding: ($spacer * 0.5) map_get($spacers, 2);
      margin-bottom: 0;

      li {
        padding: ($spacer * 0.75) 0;
        margin-bottom: 0;

        &:not(:last-child) {
          border-bottom: 1px solid $teal-200;
        }

        a,
        span {
          color: $teal-600;
          font-size: $font-size-sm;
        }

        a {
          &:hover {
            color: $teal-300;
          }
        }

        span {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  &__category-select {
    select {
      border-width: 0 0 0 8px;
      padding: 15px 30px 15px 20px;
    }
  }

  &__usps {
    @extend .rounded;
    margin-top: map_get($spacers, 3);
    padding: map_get($spacers, 2) map_get($spacers, 3);
    border: 1px solid $teal-200;

    ul {
      li {
        font-size: $font-size-sm;
      }
    }
  }
}

