.c-breadcrumb {

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: row;

      &.active {
        color: $white;
      }

      & > * {
        font-size: $font-size-x-sm;
      }

      a {
        margin-right: 6px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;

          span {
            border-bottom: 0;
          }
        }
      }

      svg {
        margin-right: 6px;
        width: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        height: 16px;
        path {
          fill: $white;
        }
      }
    }
  }

  &.text-white {
    a {
      color: $white;
    }

    svg {
      color: $teal-600;
    }
  }
}
