.c-btn {
  @extend .btn;

  background-color: $yellow;
  color: $teal-600;
  font-size: $font-size-sm;
  border: 0;

  &:hover {
    background-color: $yellow-300;
    color: $teal-600;
  }

  &-yellow {
    background-color: $yellow;
    color: $teal-600;
    border: 0;

    &:hover {
      color: $teal-600;
      background-color: $yellow-300;
    }
  }

  &-teal {
    background-color: $teal-600;
    color: $white;
    border: 0;

    &:hover {
      color: $white;
      background-color: $teal-400;
    }
  }

  &-white {
    background-color: $white;
    color: $teal-600;
    border: 1px solid $teal-200;

    &:hover {
      background-color: $teal-200;
    }
  }

  &-arrow {
    position: relative;
    padding-right: calc(#{$btn-padding-x} + 10px);
    &:after {
      position: absolute;
      right: calc(#{$btn-padding-x} - 5px);
      top: calc(50% - 10px);
      height: 20px;
      width: 5px;
      content: '';
      background: url('/assets/images/svg/single/angle-right-light-teal.svg') no-repeat center;
      background-size: cover;
    }

    &.c-btn-teal {
      &:after {
        background: url('/assets/images/svg/single/angle-right-light-white.svg') no-repeat center;
        background-size: cover;
      }
    }
  }

  &:focus {
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    background-color: $gray-300;
    color: $gray-700;
  }
}
