.c-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  color: $black;
  margin-bottom: map_get($spacers, 2);
  transition: transform 250ms cubic-bezier(.02, .01, .47, 1);

  &__border {
    border: 1px solid $teal-200;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    margin-bottom: map_get($spacers, 2);

    &:hover {
      text-decoration: none;
      transform: translate(8px, 0);

      .c-btn-white {
        color: $teal-600;
        background-color: $teal-200;
      }

      span {
        border-bottom: 0;
      }
    }
  }

  &__image {
    @extend .col-md-3;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    height: map_get($spacers, 12);
    width: 100%;

    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  &__duration {
    @extend .z-10;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    background-color: rgba($white, 0.9);
    left: 5px;
    bottom: 5px;
    color: $black;

    svg {
      margin-right: map_get($spacers, 1) * 0.5;
    }

    span {
      font-size: $font-size-base * 0.75;
    }
  }
}
