/* ==========================================================================
   # Name: _c-cta-blocks
   # Date: 27 jul. 2020
   # Author: sam
   ========================================================================== */

$amountItemsLg: 3;
$amountItemsMd: 2;

// Only need for bp:lg because swiper isn't initialised on bp:lg
$gutter: 15px;

.c-cta-blocks {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-up('lg') {
    padding-bottom: 0;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;

    & > div {
      height: auto;

      @include media-breakpoint-up('md') {
        width: calc((100% / #{$amountItemsMd}) - ((#{$amountItemsMd - 1} * #{$gutter}) / #{$amountItemsMd}));
      }

      @include media-breakpoint-up('lg') {
        width: calc((100% / #{$amountItemsLg}) - ((#{$amountItemsLg - 1} * #{$gutter}) / #{$amountItemsLg}));
      }

      &:not(:last-child) {
        @include media-breakpoint-up('lg') {
          margin-right: $gutter;
        }
      }
    }
  }

  // When no swiper is used
  & > div:not(.swiper-wrapper):not(.swiper-pagination) {
    @include media-breakpoint-up('md') {
      width: calc((100% / #{$amountItemsMd}) - ((#{$amountItemsMd - 1} * #{$gutter}) / #{$amountItemsMd}));
    }

    @include media-breakpoint-up('lg') {
      width: calc((100% / #{$amountItemsLg}) - ((#{$amountItemsLg - 1} * #{$gutter}) / #{$amountItemsLg}));
    }

    &:not(:last-child) {
      @include media-breakpoint-up('lg') {
        margin-right: $gutter;
      }
    }
  }
}
