/* ==========================================================================
   # Name: _c-contact-block
   # Date: 20 jul. 2020
   # Author: sam
   ========================================================================== */

.c-contact-block {
  @extend .rounded;
  padding-left: map_get($spacers, 3);
  padding-right: map_get($spacers, 3);
  padding-top: map_get($spacers, 4);
  padding-bottom: map_get($spacers, 5);
  position: relative;
  z-index: 30;
  background-color: $teal-600;

  @include media-breakpoint-up('lg') {
    padding-left: map_get($spacers, 6);
    padding-right: map_get($spacers, 6);

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    @extend .large;
    margin-bottom: map_get($spacers, 4);
    font-weight: $font-weight-bold;
    color: $white;
    text-align: center;

    @include media-breakpoint-up('md') {
      padding-left: map_get($spacers, 4);
      padding-right: map_get($spacers, 4);
    }

    @include media-breakpoint-up('lg') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up('md') {
      flex-direction: row;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &-icon {
      margin-right: map_get($spacers, 2);
    }
    &-pre {
      @extend .large;
      color: $white;
      margin-right: map_get($spacers, 1);
      font-weight: $font-weight-bold;
    }
    &-link {
      @extend .large;
      color: $yellow;
      font-weight: $font-weight-bold;

      &:hover {
        text-decoration: underline;
        color: $yellow;
      }
    }
  }

  &__between {
    margin-top: map_get($spacers, 2);
    margin-bottom: map_get($spacers, 2);
    color: $white;

    @include media-breakpoint-up('md') {
      margin: 0 (map_get($spacers, 2))
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

