.c-form {
  &-global-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;

    label {
      color: $teal-300;
      margin-right: 6px;
      margin-bottom: 2px;

      svg {
        width: $spacer;
        display: block;
      }
    }

    input[type='search'] {
      border-width: 0;
      font-size: $font-size-sm;
      padding-bottom: map_get($spacers, 1) * 0.15;
      width: 100%;
      color: $teal-500;

      &::placeholder {
        color: $teal-300;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
