.c-nav {
  height: $nav-height;

  @include media-breakpoint-up('md') {
    height: $nav-height-md;
  }

  @include media-breakpoint-up('lg') {
    height: $nav-height-lg;
    transition: transform 0.25s ease-in-out;
    transform: translateY(-$nav-sub-height-lg);

    .sticky-nav & {
      transform: translateY(0);
    }
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
    }
  }

  &-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include media-breakpoint-up('lg') {
      flex-direction: row;
    }

    &__sub-menu {
      display: none;
      @include media-breakpoint-up('lg') {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: $nav-sub-height-lg;
      }

      .nav-items {
        margin-left: auto;
        align-self: start;
        border-radius: 0 0 8px 8px;
        background-color: $teal-100;
        padding: 0 10px;

        .nav-link {
          margin: ($spacer * 0.5) ($spacer * 0.75);
          padding: 0;
        }
      }
    }

    &__main-menu {
      display: none;
      @include media-breakpoint-up('lg') {
        height: $nav-main-height-lg;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight-bold;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        flex-grow: 0;
      }
    }

    &__main-menu,
    &__sub-menu {
      ul.nav-items {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        list-style: none;

        li.nav-item {
          margin-bottom: 0;

          &:last-child {
            a.nav-link {
              padding-right: 0;
            }
          }

          a.nav-link {
            font-size: $font-size-sm;
            font-weight: $font-weight-base;
            color: $teal;

            &.nav-active {
              font-weight: $font-weight-bold;
            }

            &:hover {
              color: $teal-600;
            }
          }

          &.dropdown {
            @include media-breakpoint-up('lg') {
              margin-right: 12px;
            }

            a.nav-link {
              padding-right: 0;
            }

            a.dropdown-toggle {
              margin-left: auto;

              @include media-breakpoint-up('lg') {
                padding: 0;
              }

              &:after {
                transition: transform 0.1s ease-in-out;
                border-top: 0.32rem solid;
                border-right: 0.25rem solid transparent;
                border-left: 0.25rem solid transparent;
                border-bottom: 0;
              }

              &[aria-expanded="true"] {
                &:after {
                  transform: rotate(180deg);
                }
              }
            }

            .dropdown-menu {
              &.show {
                display: block;
              }

              position: absolute;
              top: 100%;
              left: 0;
              z-index: $zindex-dropdown;
              display: none; // none by default, but block on "open" of the menu
              float: left;
              min-width: $dropdown-min-width;
              padding: $dropdown-padding-y 0;
              margin: $dropdown-spacer 0 0; // override default ul
              font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
              color: $body-color;
              text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
              list-style: none;
              background-color: $teal-100;
              background-clip: padding-box;
              border: $dropdown-border-width solid $dropdown-border-color;
              @include border-radius($dropdown-border-radius);
              @include box-shadow($dropdown-box-shadow);
            }
          }
        }
      }
    }
  }

  &-mobile {
    display: flex;
    flex-direction: column;
    overflow: auto;

    @include media-breakpoint-up('lg') {
      display: none;
    }

    &__top {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer * 2;
      padding-right: 15px;
      background-color: $white;

      &-close {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;

        p {
          margin-right: 8px;
        }
      }
    }

    .navbar-side-content {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    &__main-menu {
      padding: 0 15px;
      background-color: $white;

      li.nav-item {
        width: 100%;

        &:not(:last-child) {
          border-bottom: 1px solid $teal-100;
        }

        a.nav-link {
          font-size: $font-size-base;
        }
      }
    }

    &__tickets {
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-direction: row;
      background-color: $white;

      a {
        width: 100%;
        margin-top: $spacer * 1;
        margin-bottom: $spacer * 2;
      }
    }

    &__sub-menu {
      background-color: $teal-100;
      padding: ($spacer * 1) 0;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      width: 100%;

      ul.nav-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a.nav-link {
          margin: ($spacer * 0.25) ($spacer * 1.25);
          padding: 0;
          font-size: $font-size-sm;
          line-height: $line-height-sm;
        }
      }
    }

    &__main-menu,
    &__sub-menu {
      ul.nav-items {
        list-style: none;

        li.nav-item {
          margin-bottom: 0;

          a.nav-link {
            font-weight: $font-weight-base;
            padding-left: 0;

            &.nav-active {
              font-weight: $font-weight-bold;
            }
          }

          &.dropdown {
            a.nav-link {
              padding-right: 0;
              flex-grow: 1;
            }

            a.dropdown-toggle {
              margin-left: auto;
              padding: 0 20px 0 15px;
              border-left: 1px solid $teal-200;

              &:after {
                transition: transform 0.1s ease-in-out;
                border-top: 0.32rem solid;
                border-right: 0.25rem solid transparent;
                border-left: 0.25rem solid transparent;
                border-bottom: 0;
              }

              &[aria-expanded="true"] {
                &:after {
                  transform: rotate(180deg);
                }
              }
            }

            .dropdown-menu {
              position: initial;
              padding-left: 30px;
              width: 100%;
              background: transparent;
              font-weight: 500;
              padding-bottom: $spacer * 1;

              &.show {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .login {
    width: 100%;
    padding-left: 26px !important;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      left: 0;
      content: '';
      top: calc(50% - 11px);
      background: url('/assets/images/svg/single/icon-person.svg');
      width: 20px;
      height: 20px;
    }
  }

  &__toggler {
    p {
      margin-right: 8px;
    }
  }
}
