/* ==========================================================================
   # Name: _c-partners
   # Date: 10 aug. 2020
   # Author: sam
   ========================================================================== */

/**
 * Add a small description here about the code in this file.
 * Use *[1]* and so on if need telling with small pieces of css do.
 * See elements.headings.scss as an Example
 *
 */

.c-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: map_get($spacers, 2);

  &__item {
    @extend .col-6;
    @extend .col-sm-3;
    @extend .col-md-3;
    @extend .col-lg-3;

    display: flex;
    max-height: 150px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @include media-breakpoint-up('lg') {
      margin-bottom: map_get($spacers, 3);
      padding: 20px;
    }

     img {
       max-width: 100%;
       max-height: 100%;
     }
  }
}
