/* ==========================================================================
   # Name: _c-quote
   # Author: sam
   ========================================================================== */

.c-quote {
  display: flex;
  flex-direction: row;
  font-weight: $font-weight-bold;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    @extend .large;
    font-weight: $font-weight-base;
    font-style: italic;
  }

  &__author {
    margin-top: map_get($spacers, 2);
    color: $gray-700;
    font-weight: $font-weight-base;
  }
}
