/* ==========================================================================
   # Name: _c-slider
   # Author: sam
   ========================================================================== */

.c-slider {
  margin-bottom: map_get($spacers, 2);

  &__slide {
    @extend .col-12;

    img {
      @extend .rounded;
      width: 100%;
      display: block;
    }
  }

  &__prev,
  &__next {
    @extend .carousel-control-outside;
    padding-bottom: map_get($spacers, 4);
  }

  &__prev {
    @extend .carousel-control-prev;

    span {
      @extend .carousel-control-prev-icon;
    }
  }

  &__next {
    @extend .carousel-control-next;

    span {
      @extend .carousel-control-next-icon;
    }
  }
}
