/* ==========================================================================
   # Name: _c-table
   # Date: 30 jul. 2020
   # Author: sam
   ========================================================================== */

.c-table {
  width: 100%;
  overflow: auto;

  thead {
    border-bottom: 2px solid $teal-200;

    th {
      border: 0;
      padding-left: 0;
    }
  }

  tr {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

