/* ==========================================================================
   # Name: _c-typeform
   # Author: sam
   ========================================================================== */

.c-typeform {
  @extend .rounded;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $teal-500;
  width: 100%;
  padding: map_get($spacers, 4) map_get($spacers, 2);
  color: $white;

  @include media-breakpoint-up('lg') {
    padding: map_get($spacers, 4) map_get($spacers, 4);
  }

  &__intro {
    margin-bottom: map_get($spacers, 2);
    text-align: center;
  }
}
