<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="text-uppercase text-teal-600 text-center mb-4 mb-lg-5">Dit kan je straks doen bij het biljoenbad</h2>
  </div>
</div>

<div class="mb-3 mb-lg-0">
  <div class="container">
    <div class="w-100 d-md-none">
      <div class="d-flex flex-column swiper-nav">
        <a
          class="swiper-nav__item w-100 border-2 border-teal-200 py-1 mb-1 text-center small rounded js-go-to-slide active"
          data-swiper-index="0" href="#" title="Spring naar slide 'Gezondheid'">Gezondheid</a>
        <a class="swiper-nav__item w-100 border-2 border-teal-200 py-1 mb-1 text-center small rounded js-go-to-slide "
           data-swiper-index="1" href="#" title="Spring naar slide 'Leren'">Leren</a>
        <a class="swiper-nav__item w-100 border-2 border-teal-200 py-1 mb-4 text-center small rounded js-go-to-slide "
           data-swiper-index="2" href="#" title="Spring naar slide 'Sport'">Sport</a></div>
    </div>

    <div class="swiper-container row js-swiper-services">
      <div class="swiper-wrapper d-flex flex-row">
        <div class="swiper-slide h-auto d-flex col-12 col-md-5 col-lg-4 pb-5 flex-grow-1" data-title="Gezondheid">
          <div class="card w-100">
            <div class="p-1 text-center rounded-top bg-teal-300"><h3 class="mb-0 text-white text-uppercase">
                Gezondheid</h3>
            </div>
            <div class="w-100">
              {% set transformedImage = craft.imager.transformImage('/assets/images/bitmap/gezondheid@2x.jpg', {
                width: 350,
                height: 200,
                mode: 'crop'
              }) %}
              <img class="w-100" src="{{ transformedImage.url }}" alt="Gezondheid">
            </div>
            <div class="card-body">
              <ul class="list-usps">
                <li class="small text-teal-600">
                  Therapeutisch zwemmen
                </li>
                <li class="small text-teal-600">
                  FysioplusWater
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto d-flex col-12 col-md-5 col-lg-4 pb-5 flex-grow-1" data-title="Leren">
          <div class="card w-100">
            <div class="p-1 text-center rounded-top bg-yellow"><h3 class="mb-0 text-teal-600 text-uppercase">Leren</h3>
            </div>
            <div class="w-100">
              {% set transformedImage = craft.imager.transformImage('/assets/images/bitmap/leren@2x.jpg', {
                width: 350,
                height: 200,
                mode: 'crop'
              }) %}
              <img class="w-100" src="{{ transformedImage.url }}" alt="Leren">
            </div>
            <div class="card-body">
              <ul class="list-usps">
                <li class="small text-teal-600">
                  Zwemles voor kinderen
                </li>
                <li class="small text-teal-600">
                  Zwemles voor volwassenen
                </li>
                <li class="small text-teal-600">
                  Zwemles voor dames
                </li>
                <li class="small text-teal-600">
                  Babyzwemmen
                </li>
                <li class="small text-teal-600">
                  Peuter/kleuterzwemmen
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto d-flex col-12 col-md-5 col-lg-4 pb-5 flex-grow-1" data-title="Sport">
          <div class="card w-100">
            <div class="p-1 text-center rounded-top bg-red"><h3 class="mb-0 text-white text-uppercase">Sport</h3></div>
            <div class="w-100">

              {% set transformedImage = craft.imager.transformImage('/assets/images/bitmap/sport@2x.jpg', {
                width: 350,
                height: 200,
                mode: 'crop'
              }) %}
              <img class="w-100" src="{{ transformedImage.url }}" alt="Sport">
            </div>
            <div class="card-body">
              <ul class="list-usps">
                <li class="small text-teal-600">
                  Aquasporten
                </li>
                <li class="small text-teal-600">
                  Seniorenzwemmen
                </li>
                <li class="small text-teal-600">
                  Banenzwemmen
                </li>
                <li class="small text-teal-600">
                  Zwangerschapszwemmen
                </li>
                <li class="small text-teal-600">
                  Zwemactiviteiten zwemverenigingen
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</div>
<div class="container">
  <div class="d-flex w-100 flex-row justify-content-center">
    <div class="bg-teal-200 px-2 py-3 d-flex flex-row rounded col-lg-10">
      <svg class="flex-shrink-0 mr-2" width="35" height="35">
        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-info"></use>
      </svg>
      <p class="mb-0 py-1">
        We bouwen hard aan de ontwikkeling van het Biljoenbad, maar ook aan de website en het programma. Later in het
        jaar volgt het volledige activiteitenschema.
      </p>
    </div>
  </div>
</div>
