{% set faq = [
  {
    question: 'Wanneer is het Biljoenbad klaar?',
    answer: 'We verwachten dat de bouw van het bad op 7 oktober klaar is. Daarna gaan we flink aan de slag met inrichten en gaan we proefdraaien. Vanaf half november hopen we je te ontvangen in het gloednieuwe Biljoenbad!'
  },
  {
    question: 'Kan ik me al inschrijven voor de zwemlessen?',
    answer: 'Inschrijven voor de zwemlessen doe je nog even bij Zwembad de Dumpel, of online via de <a href="https://www.sportbedrijfrheden.nl/" target="_blank" title="Ga naar de website van Sportbedrijf Rheden">www.sportbedrijfrheden.nl</a>. We nemen de zwemlessen die gepland staan bij Zwembad de Dumpel mee strak mee naar het nieuwe Biljoenbad.'
  },
  {
    question: 'Wat gebeurt er met De Dumpel?',
    answer: 'We zoeken een herbestemming voor Zwembad de Dumpel. De herbestemming zal gerelateerd zijn aan sport, maar het blijft geen zwembad.'
  }
] %}

<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <h2 class="text-center text-teal-600 text-uppercase mb-4 mb-lg-5">Veelgestelde vragen</h2>
    <div class="accordion" id="accordion">
      {% for item in faq %}
        <div tabindex="0" class="js-faq faq d-block mb-2 rounded pl-3 pr-3 py-2 focus-border">
          <p class="w-100 mb-0 caret-down collapsed pr-4 weight-700" data-toggle="collapse"
             data-target="#faq-{{ loop.index }}">{{ item.question }}</p>
          <div class="collapse" id="faq-{{ loop.index }}" data-parent="accordion">
            <p class="mt-3 mb-0">{{ item.answer | raw }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
