{% set faq = [
  {
    question: 'Wanneer is het Biljoenbad klaar?',
    answer: 'Bijna'
  },
  {
    question: 'Wanneer is meer bekend over de kosten en het programma?',
    answer: 'Bijna'
  },
  {
    question: 'Kan ik me al inschrijven voor de zwemlessen?',
    answer: 'Bijna'
  },
  {
    question: 'Wat gebeurt er met De Dumpel?',
    answer: 'Bijna'
  }
] %}

<div class="row justify-content-center py-5 pt-lg-8">
  <div class="col-12 col-lg-10">
    <h2 class="text-center text-teal-600 text-uppercase mb-4 mb-lg-5">Veelgestelde vragen</h2>
    <div class="accordion" id="accordion">
      {% for item in faq %}
        <div class="faq mb-2 rounded pl-3 pr-3 py-2">
          <p class="w-100 mb-0 caret-down collapsed pr-4 weight-700" data-toggle="collapse"
              data-target="#faq-{{ loop.index }}">{{ item.question }}</p>
          <div class="collapse" id="faq-{{ loop.index }}" data-parent="accordion">
            <p class="mt-3 mb-0">{{ item.answer }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
