.checks {
  list-style: none;

  li {
    position: relative;
    padding-left: 30px;

    &:before {
      display: block;
      width: 14px;
      content: '';
      height: 10px;
      left: 0;
      top: 5px;
      bottom: 0;
      margin: 0;
      position: absolute;
      background: url('/assets/images/svg/single/icon-check.svg') center no-repeat;
      background-size: cover;
    }
  }
}
