/* ==========================================================================
   # Name: _overflow
   # Date: 07 aug. 2020
   # Author: sam
   ========================================================================== */

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

