@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @for $i from 0 through 20 {

      .w#{$infix}-#{$i} {
        width: ($spacer * $i) !important;
      }

      .w#{$infix}-#{$i * 5} {
        width: #{$i * 5%} !important;
      }

      .h#{$infix}-#{$i} {
        height: ($spacer * $i) !important;
      }

      .h#{$infix}-#{$i * 5} {
        height: #{$i * 5%} !important;
      }
    }

    .w#{$infix}-auto {
      width: auto !important;
    }

    .h#{$infix}-auto {
      height: auto !important;
    }
  }
}
