/* ==========================================================================
   # Name: _select
   # Date: 22 jul. 2020
   # Author: sam
   ========================================================================== */

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: $teal-600;
  font-family: $font-family-base;
  font-size: $font-size-base;
  border: 2px solid $teal-200;
  background: $teal-100;
  border-radius: 25px;
  padding: 7px 20px;
  display: inline-block !important;
  visibility: visible !important;

  /* Removes the clear button from date inputs */
  /* Removes the spin button */
  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  /* Always display the drop down caret */
  &::-webkit-calendar-picker-indicator {
    color: $teal-600;
    &:hover {
      cursor: pointer;
    }
  }

  &:focus {
    color: $teal-600;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
