.footer {
  &-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up('sm') {
      justify-content: center;
    }

    @include media-breakpoint-up('md') {
      justify-content: center;
      align-items: start;
    }

    @include media-breakpoint-up('lg') {
      align-items: start;
    }
  }

  &-items {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-sub-items {
    flex-direction: row;
    margin-bottom: 0;
  }

  &-sub-item {
    margin-bottom: $spacer * 2;

    &:not(:last-child) {
      padding-right: 30px;
    }

    @include media-breakpoint-up('sm') {
      margin-bottom: 0;
    }
  }

  &-link {
    color: $white;
    font-size: $font-size-x-sm;
    text-decoration: underline;
    text-align: center;

    @include media-breakpoint-up('lg') {
      text-align: left;
    }

    &:hover {
      color: $gray-100;
    }
  }
}
