.header {
  min-height: 171px;

  @media(min-width: 600px) {
    min-height: 240px;
  }

  @media(min-width: 960px) {
    min-height: 286px;
  }

  @media(min-width: 1200px) {
    min-height: 344px;
  }

  &-home {
    min-height: 320px;

    @media(min-width: 600px) {
      min-height: 365px;
    }

    @media(min-width: 960px) {
      min-height: 467px;
    }

    @media(min-width: 1200px) {
      min-height: 438px;
    }

    @media(min-width: 1500px) {
      min-height: 547px;
    }
  }

  picture {
    display: block;
  }

  .payoff {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;

    svg {
      display: block;
      width: 280px;
      height: 200px;
    }

    @include media-breakpoint-up('lg') {
      bottom: 0;
      svg {
        width: 378px;
        height: 270px;
      }
    }

    @include media-breakpoint-up('xl') {
      svg {
        width: 475px;
        height: 339px;
      }
    }
  }
}


