.header {
  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 20;

    svg {
      display: block;
      height: 287px;
      width: 100%;
    }
  }

  .payoff {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;

    svg {
      display: block;
      width: 280px;
      height: 200px;
    }
  }
}


