.list {
  &-usps {
    list-style: none;
    li {
      position: relative;
      padding-left: 30px;
      &:before {
        display: block;
        width: 16px;
        content: '';
        height: 12px;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        background: url('/assets/images/bitmap/glyphs/icon-check.svg') center no-repeat;
        background-size: cover;
      }
    }
  }
}
