@for $i from 0 through 20 {

  .w-#{$i} {
    width: ($spacer * $i) !important;
  }

  .sm-#{$i} {
    @include media-breakpoint-up('sm') {
      width: ($spacer * $i) !important;
    }
  }

  .w-md-#{$i} {
    @include media-breakpoint-up('md') {
      width: ($spacer * $i) !important;
    }
  }

  .w-lg-#{$i} {
    @include media-breakpoint-up('lg') {
      width: ($spacer * $i) !important;
    }
  }

  .w-xl-#{$i} {
    @include media-breakpoint-up('xl') {
      width: ($spacer * $i) !important;
    }
  }

  .h-#{$i} {
    height: ($spacer * $i) !important;
  }

  .h-sm-#{$i} {
    @include media-breakpoint-up('sm') {
      height: ($spacer * $i) !important;
    }
  }

  .h-md-#{$i} {
    @include media-breakpoint-up('md') {
      height: ($spacer * $i) !important;
    }
  }

  .h-lg-#{$i} {
    @include media-breakpoint-up('lg') {
      height: ($spacer * $i) !important;
    }
  }

  .h-xl-#{$i} {
    @include media-breakpoint-up('xl') {
      height: ($spacer * $i);
    }
  }
}

.w-auto {
  width: auto !important;
}

.w-sm-auto {
  @include media-breakpoint-up('sm') {
    width: auto !important;
  }
}

.w-md-auto {
  @include media-breakpoint-up('md') {
    width: auto !important;
  }
}
.w-lg-auto {
  @include media-breakpoint-up('lg') {
    width: auto !important;
  }
}

.w-xl-auto {
  @include media-breakpoint-up('xl') {
    width: auto !important;
  }
}

.h-auto {
  height: auto !important;
}

.h-sm-auto {
  @include media-breakpoint-up('sm') {
    height: auto !important;
  }
}

.h-md-auto {
  @include media-breakpoint-up('md') {
    height: auto !important;
  }
}

.h-lg-auto {
  @include media-breakpoint-up('lg') {
    height: auto !important;
  }
}

.h-xl-auto {
  @include media-breakpoint-up('xl') {
    height: auto;
  }
}

.h-sm-100 {
  @include media-breakpoint-up('sm') {
    height: 100% !important;
  }
}

.h-md-100 {
  @include media-breakpoint-up('md') {
    height: 100% !important;
  }
}

.h-lg-100 {
  @include media-breakpoint-up('lg') {
    height: 100% !important;
  }
}

.h-xl-100 {
  @include media-breakpoint-up('xl') {
    height: 100% !important;
  }
}
