.wave {
  &-upper {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 20;
  }

  svg {
    display: block;

    &.upper-wave {
      height: 287px;
      width: 100%;
    }

    &.lower-wave {
      height: 107px;
      width: 100%;
    }
  }
}
