.js-calendar {
  @include media-breakpoint-up('sm') {
    margin-top: -($spacer * 3);
  }
  @include media-breakpoint-up('md') {
    margin-top: -51px;
  }

  .fc-header-toolbar {
    @extend .col-sm-6;
    @extend .col-md-5;
    margin-left: auto;
    padding: 0;
    align-items: center;

    .fc-toolbar-chunk {
      &:last-child {
        width: 100%;

        @include media-breakpoint-up('sm') {
          width: auto;
        }

        .btn-group {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          .fc-today-button {
            flex-grow: 1;

            @include media-breakpoint-up('sm') {
              flex-grow: initial;
            }
          }
        }
      }
    }

    .fc-prev-button,
    .fc-next-button {
      position: relative;
      background-color: $teal-100;
      border: 2px solid $teal-200;

      &:hover {
        background-color: $teal-200;
        border-color: $teal-200;
      }

      &:focus {
        background-color: $teal-100;
      }

      &:before {
        width: 24px;
        height: 24px;
        display: block;
        content: '';
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 11px);
      }
    }

    .fc-prev-button {
      &:before {
        background: url('/assets/images/svg/single/angle-left-light-teal.svg') no-repeat center;
        background-size: cover;
      }
    }

    .fc-next-button {
      &:before {
        background: url('/assets/images/svg/single/angle-right-light-teal.svg') no-repeat center;
        background-size: cover;
      }
    }

    .fc-today-button {
      background-color: $teal-100;
      border-top: 2px solid $teal-200;
      border-bottom: 2px solid $teal-200;
      color: $teal-600;

      &:disabled {
        color: $teal-200;
      }
    }
  }

  .fc-timegrid {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;

    &.hide {
      opacity: 0.25;
    }

    .fc-scrollgrid {
      border-radius: 5px;
      padding: 0;
      background-color: $white;

      &-section {
        td {
          border-bottom: 0;
        }
      }

      @include media-breakpoint-up('sm') {
        padding: 0 20px 20px 20px;
      }

      thead {
        background-color: $white;

        tr,
        th {
          border-right: 0;
          border-left: 0;
          border-bottom: 0;

          .fc-col-header-cell-cushion {
            position: relative;
            padding-top: 20px;

            @include media-breakpoint-up('sm') {
              padding-left: 20px;
              padding-top: 0;
            }

            &:before {
              position: absolute;
              top: 5px;
              left: calc(50% - 5px);

              @include media-breakpoint-up('sm') {
                top: calc(50% - 5px);
                left: 0;
              }

              width: 10px;
              height: 10px;
              content: '';
              display: block;
              border-radius: 50%;
            }
          }

          .fc-col-header-cell {
            &:nth-child(even) {
              .fc-col-header-cell-cushion {
                &:before {
                  background-color: $teal-200;
                }
              }
            }

            &:nth-child(odd) {
              .fc-col-header-cell-cushion  {
                &:before {
                  background-color: $yellow;
                }
              }
            }
          }
        }

        td {
          border-right: 0;
        }

        .fc-resource {
          font-size: $font-size-sm;
          padding: map_get($spacers, 2) 0;
          border-bottom: 1px solid $teal-200;

          @include media-breakpoint-up('md') {
            font-size: $font-size-base;
            padding: map_get($spacers, 3) 0 map_get($spacers, 4);
          }
        }
      }

      tbody {
        .fc-timegrid-col {
          background-color: $white;

          &:not(:first-child) {
            .fc-timegrid-col-frame {
              border-bottom: 1px solid $teal-200;
            }
          }

          &.fc-day-today {
            background-color: $white;
          }
        }

        .table-bordered {
          tbody {
            tr {
              &:nth-child(2n + 2) {
                .fc-timegrid-slot-lane {
                  border-bottom: 1px solid $teal-200 !important;
                }
              }
            }
          }
        }

        .fc-timegrid-slot {
          border: 0;
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;

          @include media-breakpoint-up('md') {
            font-size: $font-size-sm;
          }
        }

        [data-resource-id] {
          &:nth-child(even) {
            .fc-timegrid-event {
              background-color: rgba($teal-200, 0.5);
              border: 0;
            }
          }

          &:nth-child(odd) {
            .fc-timegrid-event {
              background-color: $secondary;
              border-color: $secondary;
            }
          }
        }

        .fc-event {
          &-main {
            &-frame {
              padding: map_get($spacers, 2);
              font-weight: $font-weight-bold;
              color: $teal-600;
              text-align: center;

              @include media-breakpoint-up('sm') {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
