.js-load-more-button {
  position: relative;

  &.hide {
    display: none !important;
  }

  span {
    &:last-child {
      display: none;

      svg {
        display: block;
      }
    }
  }

  &[disabled] {
    pointer-events: none;

    span {
      &:first-child {
        visibility: hidden;
      }

      &:last-child {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
  }
}
