{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: table
  @date:     12 jul. 2020
  @author:   sam
  ====================================================== #}

{% set table = table is defined ? table : '' %}
{% set columnTitle = columnTitle is defined ? columnTitle : true %}

{% if table | length %}

  {% set globalColumnAmount = 0 %}

  {% for column in table %}
    {% set columnAmount = 0 %}

    {% for col in column %}
      {% if col | length %}
        {% set columnAmount = columnAmount + 1 %}
      {% endif %}
    {% endfor %}

    {% if columnAmount > globalColumnAmount %}
      {% set globalColumnAmount = columnAmount %}
    {% endif %}
  {% endfor %}

  {% set globalColumnAmount = globalColumnAmount / 2 %}

  {% set th = columnTitle ? table[0] : '' %}
  {% set td = columnTitle ? table[1:] : table %}

  <div class="table-responsive">
    <table class="c-table table table-striped" data-column-amount="{{ globalColumnAmount }}">
      {% if th | length %}
        <thead>
        <tr>
          {% for title in th %}
            {% if loop.index <= globalColumnAmount %}
              <th>
                {{ title }}
              </th>
            {% endif %}
          {% endfor %}
        </tr>
        </thead>
      {% endif %}
      {% if td | length %}
        <tbody>
        {% for row in td %}
          <tr>
            {% for value in row %}
              {% if loop.index <= globalColumnAmount %}
                <td>
                  {{ value }}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
{% endif %}
