{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: heads-up
  @date:     18 aug. 2020
  @author:   sam
  ====================================================== #}
{#
  Add a small discription about this file/componennt and what it does
#}

{% set text = text is defined ? text : '' %}

{% if text | length %}
  <div class="c-heads-up">
    <div class="c-heads-up__wrapper">
      <svg class="flex-shrink-0 mr-2" width="35" height="35">
        <use xlink:href="/assets/images/svg/sprite/sprite.svg#icon-info"></use>
      </svg>
      {{ text }}
    </div>
  </div>
{% endif %}
