{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# ======================================================
  @filename: table
  @author:   sam
  ====================================================== #}

<div class="container">

</div>
