.o-icon-calendar-dims {
  width: 35px;
  height: 35px;
}
.o-icon-chevron-down-dims {
  width: 14px;
  height: 8px;
}
.o-icon-facebook-dims {
  width: 22px;
  height: 22px;
}
.o-icon-info-dims {
  width: 35px;
  height: 35px;
}
.o-icon-insta-dims {
  width: 22px;
  height: 22px;
}
.o-icon-marker-dims {
  width: 35px;
  height: 35px;
}
.o-icon-marker-yellow-dims {
  width: 35px;
  height: 35px;
}
.o-icon-telefoon-dims {
  width: 27px;
  height: 27px;
}
.o-icon-video-play-dims {
  width: 40px;
  height: 40px;
}
.o-icon-youtube-dims {
  width: 40px;
  height: 35.56px;
}
